@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;700&family=Public+Sans:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  ul {
    list-style-type: none;
  }
}

// Variables
// Primary colors
$cyan: #5fb4a2;
$darkBlue: #203a4c;
$grayishDarkBlue: #33323d;
// Secondary colors
$veryLightGrey: #fafafa;
$lightGrey: #eaeaeb;
$brightRed: #f43030;
