@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;800&family=Public+Sans:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* ul {
  list-style-type: none;
}

* a {
  text-decoration: none;
}

body {
  font-family: Public Sans;
  background-color: #fafafa;
  color: #33323d;
}

h1,
h2 {
  font-family: Ibarra Real Nova;
  color: #203a4c;
  font-size: 42px;
  font-weight: 800;
}

.container {
  margin-inline: 1.3rem;
}

#nav {
  display: none;
  position: fixed;
  top: 5rem;
  right: 0;
  margin-right: 1.3rem;
}

#nav .mobile-menu-exit {
  float: right;
}

#nav .nav-links {
  background-color: #33323d;
  padding: 1rem 4rem;
}

#nav .nav-links li {
  text-align: center;
  margin-block: 1rem;
}

#nav .nav-links li a {
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}

.navbar {
  margin-top: 2rem;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
  height: 13px;
}

.navbar .mobile-menu-exit {
  display: none;
  height: 24px;
  width: 24px;
}

.hero {
  margin-top: 2.5rem;
}

.hero .hero-img {
  width: 100%;
}

.hero .welcome-text {
  margin-top: 1.3rem;
  margin-bottom: 2rem;
  line-height: 93%;
}

.about-me-link {
  background-color: #203a4c;
  width: 12.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me-link .arrows {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.about-me-link .about-me-text {
  color: white;
  margin-inline: auto;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.main .container {
  margin-top: 5rem;
  padding-bottom: 3rem;
}

.main .main-pic {
  margin-bottom: 2rem;
}

.main .main-pic img {
  width: 100%;
}

.main .about-me-info {
  padding-block: 2rem;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.main .about-me-info h2 {
  margin-bottom: 2rem;
}

.main .about-me-info p {
  line-height: 30px;
  color: rgba(51, 50, 61, 0.8);
  margin-bottom: 1.5rem;
}

.main-cta {
  padding: 1rem 2rem;
  display: inline-block;
  border: 1px solid #33323d;
  color: #33323d;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.cooperation {
  margin-top: 6rem;
  margin-bottom: 4rem;
  text-align: center;
}

.cooperation h2 {
  margin-bottom: 2rem;
}

.footer {
  padding-block: 3rem;
  background-color: #33323d;
}

.footer .secondary-navigation {
  text-align: center;
}

.footer .secondary-navigation .nav-links li {
  padding-block: 1rem;
}

.footer .secondary-navigation .nav-links li a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer .secondary-navigation .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.footer .secondary-navigation .social-links li {
  margin-inline: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .container {
    margin-inline: 2.5rem;
  }
  .navbar {
    margin-top: 4rem;
  }
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  #nav {
    display: initial;
    position: unset;
    margin-right: 0;
  }
  #nav .nav-links {
    background-color: unset;
    padding: unset;
    width: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #nav .nav-links li {
    text-align: unset;
    margin-block: unset;
  }
  #nav .nav-links li a {
    color: #33323d;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
  }
  .hero .container {
    position: relative;
  }
  .hero .container .welcome-block {
    position: absolute;
    bottom: 0;
    background-color: #fafafa;
    width: 70%;
    padding-top: 3rem;
  }
  .hero .container .welcome-block .welcome-text {
    width: 80%;
    margin-bottom: 4rem;
  }
  .main .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4rem;
  }
  .main .container .main-pic {
    margin-bottom: 0;
  }
  .main .container .main-pic img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 80% 0%;
       object-position: 80% 0%;
  }
  .main .container > * {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .cooperation .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.9fr 0.32fr 0.46fr;
        grid-template-columns: 0.9fr 0.32fr 0.46fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 0px;
  }
  .cooperation .container h2 {
    text-align: start;
  }
  .cooperation .container .cross-line {
    width: 100%;
    margin-block: auto;
    height: 0;
    border-top: 1px solid rgba(51, 50, 61, 0.15);
  }
  .cooperation .container .cta-div {
    margin-block: auto;
  }
}
/*# sourceMappingURL=styles.css.map */