@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;800&family=Public+Sans:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
}

// Variables
// Primary colors
$cyan: #5fb4a2;
$darkBlue: #203a4c;
$grayishDarkBlue: #33323d;
// Secondary colors
$veryLightGrey: #fafafa;
$lightGrey: #eaeaeb;
$brightRed: #f43030;
$ibarra: Ibarra Real Nova;
$public-sans: Public Sans;

// logo at the top-left of the page
.logo {
  position: relative;
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 26px solid $grayishDarkBlue;
    position: absolute;
    top: -4px;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 26px solid $grayishDarkBlue;
    position: absolute;
    left: 28px;
    top: 4px;
  }
}
body {
  font-family: $public-sans;
  background-color: $lightGrey;
  color: $grayishDarkBlue;
}

h1,
h2 {
  font-family: $ibarra;
  color: $darkBlue;
  font-size: 42px;
  font-weight: 800;
}

.container {
  margin-inline: 1.3rem;
}

#nav {
  display: none;
  position: fixed;
  top: 5rem;
  right: 0;
  margin-right: 1.3rem;

  .mobile-menu-exit {
    float: right;
  }

  .nav-links {
    background-color: $grayishDarkBlue;
    padding: 1rem 4rem;

    li {
      text-align: center;
      margin-block: 1rem;
      a {
        color: white;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }
}

.navbar {
  margin-top: 2rem;

  .container {
    display: flex;
    place-content: space-between;
  }

  .mobile-menu {
    cursor: pointer;
    height: 13px;
  }
  .mobile-menu-exit {
    display: none;
    height: 18px;
    width: 18px;
  }
}

.hero {
  margin-top: 2.5rem;
  .hero-img {
    width: 100%;
  }

  .welcome-text {
    margin-top: 1.3rem;
    margin-bottom: 2rem;
    line-height: 93%;
  }
}

.about-me-link {
  background-color: $darkBlue;
  width: 12.5rem;
  display: flex;
  align-items: center;

  .arrows {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .about-me-text {
    color: white;
    margin-inline: auto;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
  }
}

.main {
  .container {
    margin-top: 5rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
  }

  .main-pic {
    margin-bottom: 2rem;
    border-bottom: 1;
    img {
      width: 100%;
    }
  }

  .about-me-text {
    padding-top: 2rem;
    margin-block: 2rem;
    border-top: 1px solid rgba(51, 50, 61, 0.15);

    h2 {
      margin-bottom: 2rem;
    }
    p {
      line-height: 30px;
      color: rgba(51, 50, 61, 0.8);
    }
  }
}

.main-cta {
  padding: 1rem 2rem;

  display: inline-block;
  border: 1px solid $grayishDarkBlue;
  color: $grayishDarkBlue;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.cooperation {
  margin-top: 6rem;
  margin-bottom: 4rem;
  text-align: center;
  h2 {
    margin-bottom: 2rem;
  }
}

.footer {
  padding-block: 3rem;
  background-color: $grayishDarkBlue;

  .secondary-navigation {
    text-align: center;

    .nav-links {
      li {
        padding-block: 1rem;
        a {
          color: white;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
    }
    .social-links {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      li {
        margin-inline: 0.5rem;
      }
    }
  }
}
