@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;800&family=Public+Sans:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
}

// Variables
// Primary colors
$cyan: #5fb4a2;
$darkBlue: #203a4c;
$grayishDarkBlue: #33323d;
// Secondary colors
$veryLightGrey: #fafafa;
$lightGrey: #eaeaeb;
$brightRed: #f43030;
$ibarra: Ibarra Real Nova;
$public-sans: Public Sans;

body {
  font-family: $public-sans;
  background-color: $veryLightGrey;
  color: $grayishDarkBlue;
}

h1,
h2 {
  font-family: $ibarra;
  font-size: 40px;
  font-weight: 800;
}

.container {
  margin-inline: 1.5rem;
}

.navbar {
  margin-block: 2.5rem;

  .container {
    display: flex;
    place-content: space-between;
  }

  .mobile-menu {
    cursor: pointer;
    height: 13px;
  }

  nav {
    display: block;
    position: fixed;
    right: 0;
    margin-right: 1.5rem;
    display: none;

    .mobile-menu-exit {
      text-align: end;

      img {
        background-color: $veryLightGrey;
        cursor: pointer;
        height: 24px;
        width: 24px;
      }
    }

    .nav-links {
      background-color: $grayishDarkBlue;
      padding: 1rem 4rem;
      margin-top: 2rem;

      li {
        text-align: center;
        margin-block: 1rem;
        a {
          color: white;
          letter-spacing: 2px;
          text-transform: uppercase;
          font-size: 12px;
        }
      }
    }
  }
}
nav.visible {
  display: block;
}

.hero {
  .hero-img {
    width: 100%;
  }

  .welcome-text {
    margin-top: 1.3rem;
    margin-bottom: 2rem;
    line-height: 40px;
  }
}

.about-me-link {
  background-color: $darkBlue;
  width: 12.5rem;
  display: flex;
  align-items: center;

  .arrows {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .about-me-text {
    color: white;
    margin-inline: auto;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
  }
}

.main {
  .container {
    margin-top: 5rem;
    padding-bottom: 3rem;
  }

  .main-pic {
    margin-bottom: 2rem;

    img {
      width: 100%;
    }
  }

  .about-me-info {
    padding-block: 2rem;

    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);

    h2 {
      margin-bottom: 2rem;
    }
  }
}
p {
  line-height: 30px;
  color: rgba(51, 50, 61, 0.8);
  margin-bottom: 1.5rem;
}

.main-cta {
  padding: 1rem 2rem;

  display: inline-block;
  border: 1px solid $grayishDarkBlue;
  color: $grayishDarkBlue;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.secondary-cta {
  padding: 1rem 2rem;

  display: inline-block;
  border: none;
  color: white;
  background-color: $darkBlue;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.cooperation {
  margin-top: 6rem;
  margin-bottom: 4rem;
  text-align: center;
  h2 {
    margin-bottom: 2rem;
  }
}

.footer {
  padding-block: 3rem;
  background-color: $grayishDarkBlue;

  .secondary-navigation {
    text-align: center;

    .nav-links {
      li {
        padding-block: 1rem;
        a {
          color: white;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
    }
  }
}
.social-links {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  li {
    margin-inline: 0.5rem;
  }
}

.justify-content-start {
  justify-content: start;
}
.main-contact-me {
  .container {
    padding-block: 1rem;
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
  }
  p {
    margin-block: 1rem;
  }
}
.contact-form {
  margin-bottom: 5rem;
  h2 {
    margin-block: 1.5rem;
  }
  .form-item {
    margin-block: 1rem;
    input,
    textarea {
      width: 100%;
      margin-top: 0.5rem;
      padding: 1rem;
      background-color: rgba(51, 50, 61, 0.1);
      border: none;

      &::placeholder {
        font-family: $public-sans;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .container {
    margin-inline: 2.5rem;
  }

  .navbar {
    margin-top: 4rem;
  }

  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }

  #nav {
    display: initial;
    position: unset;
    margin-right: 0;

    .nav-links {
      background-color: unset;
      padding: unset;
      width: 20rem;
      display: flex;
      justify-content: space-between;

      li {
        text-align: unset;
        margin-block: unset;

        a {
          color: $grayishDarkBlue;
          letter-spacing: 2px;
          text-transform: uppercase;
          font-size: 12px;
        }
        .active {
          color: $cyan;
        }
      }
    }
  }
  .hero {
    .container {
      position: relative;

      .welcome-block {
        position: absolute;
        bottom: 0;
        background-color: $veryLightGrey;
        width: 70%;
        padding-top: 3rem;

        .welcome-text {
          width: 80%;
          margin-bottom: 4rem;
        }
      }
    }
  }
  .main {
    .container {
      display: flex;
      gap: 4rem;

      .main-pic {
        margin-bottom: 0;

        img {
          height: 100%;
          object-fit: cover;
          object-position: 80% 0%;
        }
      }
    }
    .container > * {
      flex: 2;
    }
  }

  .cooperation {
    .container {
      display: grid;
      grid-template-columns: 0.9fr 0.32fr 0.46fr;
      grid-template-rows: 1fr;
      grid-column-gap: 2rem;
      grid-row-gap: 0px;

      h2 {
        text-align: start;
        margin-bottom: 0;
      }

      .cross-line {
        width: 100%;
        margin-block: auto;
        height: 0;
        border-top: 1px solid rgba(51, 50, 61, 0.15);
      }

      .cta-div {
        margin-block: auto;
        text-align: end;
      }
    }
  }
  .footer {
    padding-block: 3rem;

    .secondary-navigation {
      display: flex;
      justify-content: space-between;

      .nav-links {
        display: flex;

        li {
          padding-block: unset;
          margin-block: auto;
          margin-inline: 1rem;
        }
      }
      .social-links {
        display: flex;
        justify-content: center;
        margin-top: 0;
        li {
          margin-inline: 0.8rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    margin-inline: 10.3rem;
  }

  .hero {
    .container {
      .welcome-block {
        background-color: $veryLightGrey;
        width: 40%;
        padding-top: 3rem;

        .welcome-text {
          font-size: 50px;
          width: 80%;
          margin-bottom: 4rem;
          line-height: 50px;
        }
      }
    }
  }
  .main {
    .container {
      display: flex;
      gap: 8rem;

      .main-pic {
        flex-grow: 1;
      }
      .about-me-info {
        flex-grow: 0.6;
        margin-right: 6rem;
      }
    }
  }
  .cooperation {
    .container {
      grid-template-columns: 0.8fr 0.9fr 0.46fr;
      grid-column-gap: 1rem;
    }
  }

  .about-me-link:hover {
    background-color: $cyan;
  }
  .main-cta:hover {
    background-color: $grayishDarkBlue;
    color: $lightGrey;
  }
}
